body{
    background-color: beige;
}
main{
    background-color: aqua;
}
p{
    color: whitesmoke;
}
sub{
    background-color: rgb(99, 131, 131);
}
.fst{
    background-color: rgb(43, 18, 66);
}
.snd{
    background-color: rgb(19, 83, 83);
}

.one{
    color: green;
}
.two{
    color: rgb(80, 80, 9);
}
.three{
    color: rgb(255, 81, 0);
}
.four{
    color: rgb(90, 2, 2);
}
.five{
    color: blue;
}