body{
    background-color: #f5f5dd;
}

div{
    width: 200px;
    height: 200px;
    margin-left: 45%;
}
.one{
    background-color: black;
}

.two{
    background-color: rgba(20, 20, 20);
}

.three{
    background-color: rgba(34, 34, 34);
}

.four{
    background-color: rgba(73, 73, 73);
}